<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ပေါက်ဈေးများထည့်ရန်</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      *{
        margin: 0;
        padding: 0;
      }
      body{
      background-image: url(../img/pk.png) ;
      background-position: center;
      background-size: cover;
      font-family: sans-serif;
      margin-top: 40px;
    }
    .head{
      width: 550px;
      background-color:rgb(40, 154, 207) ;
      margin: auto;
      color: #FFFFFF;
      padding: 10px 0px 10px 0px;
      text-align: center;
      border-radius: 10px 10px 0px 0px;
    }
    .header{
      font-size: 25px;      
      color:white;
    }
    .main{
      background-color: rgb(114, 185, 218) ;
      width: 550px;
      height: 500px;
      margin:auto;
    }
    .form{
      padding: 10px;
    }
    #name{
      width: 100%;
      height: 100px;
    }
    .name{
      margin-left: 25px;
      margin-top: 35px;
      width: 135px;
      color: white;
      font-size: 18px;
      font-weight: 700;
    }
    .label1{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 16px;
      left: 10px;
      top: 17px;
    }
    .label2{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 16px;
      left: 10px;
      top: 16px;
    }
    .label3{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 16px;
      left: 10px;
      top: 16px;
    }
    .label4{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 16px;
    }
    .label5{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 16px;
    }
    .label6{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 16px;
    }
    .label7{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 16px;
    }
   
    .date{
      position: relative;
      left: 160px;
      top: -10px;
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .time{
      position: relative;
      left: 160px;
      top: -10px;
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .corntype{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 40px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .q1{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .q2{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .q3{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .mc{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    
    .submit{
      position: relative;     
      left: 320px;
      top: 27px;
      padding: 5px;
      font-size: 14px;
      font-style: italic;
      font-weight: lighter;
    }

    </style>
 </head>
  <body>
    <div class="head"><h1 class="header">ပေါက်ဈေးများထည့်ရန်</h1></div> 
    <div class="main"> 
  <form id="form" action="/admin/add-price" method="post">
    <div id="name">
        <label class="label1" for="name">ယနေ့ရက်စွဲ</label><br>
        <input class="date" type="date" name="filled_date"/><br>

        <label class="label2" for="name">အချိန်</label><br>
        <input class="time" type="time" name="filled_time"/><br>

        <label class="label3" for="name">အမျိုးအစား</label><br>
        <select class="corntype" type="option" name="corn_type">
          <option value="">စီပီပြောင်း</option>                  
        </select><br>

        <label class="label4" for="name">အရည်သွေးအဆင့်-၁</label><br>
        <input class="q1" type = "number" name="quality1"/><br>

        <label class="label5" for="name">အရည်သွေးအဆင့်-၂</label><br>
        <input class="q2" type = "number" name="quality2"/><br>

        <label class="label6" for="name">အရည်သွေးအဆင့်-၃</label><br> 
        <input class="q3" type = "number" name="quality3"/><br> 

        <label class="label7" for="name">ကုန်သည်ပေါက်ဈေး</label><br>
        <input class="mc" type = "number" name="merchant-price"/><br> 

        
         
    
    <input class="submit" type="submit" name="submit"/>
  </div>
  </form>
</div>

  <script>
    
  const windowClose = () => {
    setTimeout(()=>{
      window.close();
    },2000);    
  }
      
  document.getElementById("form").addEventListener("submit", windowClose); 
	
 
  </script>
  </body>

</html>