<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ပြောင်းအရောင်းစာရင်းသွင်းရန်</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      *{
        margin: 0;
        padding: 0;
      }
      body{
      background-image: url(https://wallpaperaccess.com/full/89878.jpg) ;
      background-position: center;
      background-size: cover;
      font-family: sans-serif;
      margin-top: 40px;
    }
    .head{
      width: 550px;
      background-color:rgb(40, 154, 207) ;
      margin: auto;
      color: #FFFFFF;
      padding: 10px 0px 10px 0px;
      text-align: center;
      border-radius: 10px 10px 0px 0px;
    }
    .header{
      font-size: 25px;      
      color:white;
    }
    .main{
      background-color: rgb(114, 185, 218) ;
      width: 550px;
      height: 630px;
      margin:auto;
    }
    .form{
      padding: 10px;
    }
    #name{
      width: 100%;
      height: 100px;
    }
    .name{
      margin-left: 25px;
      margin-top: 35px;
      width: 135px;
      color: white;
      font-size: 18px;
      font-weight: 700;
    }
    .label1{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 17px;
    }
    .label2{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 20px;
    }
    .label3{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 25px;
    }
    .label4{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 23px;
    }
    .label5{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 23px;
    }
    .label6{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 23px;
    }
    .label7{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 23px;
    }
    .label8{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 23px;
    }
    .merchant{
      position: relative;
      left: 160px;
      top: -10px;
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .phone{
      position: relative;
      left: 160px;
      top: -10px;
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .address{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .corntype{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 30px;
      border-width: 10px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .cornqty{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .wantedprice{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .comment{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .receiveddate{
      position: relative;
      left: 160px;
      top: -10px;      
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    .submit{
      position: relative;     
      left: 320px;
      top: 27px;
      padding: 5px;
      font-size: 14px;
      font-style: italic;
      font-weight: lighter;
    }

    </style>
 </head>

  <body>
  <div class="head"><h1 class="header">ပြောင်းအရောင်းစာရင်းသွင်းရန်</h1></div>
  <div class="main">
  <form id="form" action="/merchant/book-inventory" method="post">
    <div id="name">
    
      <label class="label1" for="name">ကုန်သည်အမည်</label><br>
      <input class="merchant" type="text" name="name" value="<%= merchant.name %>" /><br>
      
  
      <label class="label2" for="name">ဖုန်းနံပါတ်</label><br>
      <input class="phone" type="tel" name="phone" pattern="[0-9]{5,15}" value="<%= merchant.phone %>" /><br>
  
      <label class="label3" for="name">နေရပ်လိပ်စာ</label><br>
      <textarea class="address" name="address" rows="2" cols="30"><%= merchant.address %></textarea><br>

      <label class="label4" for="name">အမျိုးအစား</label><br>
      <select class="corntype" type="option" name="corn_type">
        <option value="စီပီပြောင်း">စီပီပြောင်း</option>                  
      </select><br>
   
      <label class="label5" for="name">တင်းအရေအတွက်</label><br>
      <input class="cornqty" type="number" name="corn_qty"/><br>  
      
      <label class="label6" for="name">ရောင်းလိုသည့်စျေးနှုန်း</label><br>
      <input class="wantedprice" type="number" name="wanted_price"/><br>

      <label class="label7" for="name">မှတ်ချက်</label><br>
      <textarea class="comment" name="comment" rows="2" cols="30"></textarea><br>
  
      <label class="label8" for="name">စာရင်းသွင်းသည့်ရက်စွဲ</label><br>
      <input class="receiveddate" type="date" name="received_date"/><br>

      <input type="hidden" name="merchant_id" value="<%= merchant.viberid %>" />
    
    <input class="submit" type="submit" name="submit"/>
  </div>
  </form>
</div>
  <script>
    
    const windowClose = () => {
      setTimeout(()=>{
        window.close();
      },2000);    
    }
  
        
    document.getElementById("form").addEventListener("submit", windowClose); 
    
   
    </script>
   
  </body>

</html>