<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>စာရင်းသွင်းရန်</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>ပြောင်းအရောင်းစာရင်းသွင်းရန်</h1>
  <form id="form" action="/merchant/book-inventory" method="post">
    
      <label for="name">ကုန်သည်အမည်</label><br>
      <input type="text" name="name" value="<%= merchant.name %>" /><br>
      
  
      <label for="name">ဖုန်းနံပါတ်</label><br>
      <input type="tel" name="phone" pattern="[0-9]{5,15}" value="<%= merchant.phone %>" /><br>
  
      <label for="name">နေရပ်လိပ်စာ</label><br>
      <textarea name="address" rows="4" cols="50"><%= merchant.address %></textarea><br>

      <label for="name">ပြောင်းအမျိုးအစား</label><br>
      <select type="option" name="corn_type">
        <option value="888">CP-888</option>
        <option value="222">CP-222</option>
        <option value=336>CP-336</option>          
      </select><br>
   
      <label for="name">တင်းအရေအတွက်</label><br>
      <input type="number" name="corn_qty"/><br>  
      
      <label for="name">ရောင်းလိုသည့်စျေးနှုန်း</label><br>
      <input type="number" name="wanted_price"/><br>

      <label for="name">မှတ်ချက်</label><br>
      <textarea name="comment" rows="4" cols="50"></textarea><br>
  
      <label for="name">စာရင်းသွင်းသည့်ရက်စွဲ</label><br>
      <input type="date" name="received_date"/><br>

      <input type="hidden" name="merchant_id" value="<%= merchant.viberid %>" />
    
    <input type="submit" name="submit"/>

  </form>
  <script>
    
    const windowClose = () => {
      setTimeout(()=>{
        window.close();
      },2000);    
    }
  
        
    document.getElementById("form").addEventListener("submit", windowClose); 
    
   
    </script>
   
  </body>

</html>