<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ကုန်သည်စာရင်းသွင်းရန်</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<h1 style="color:cyan;">စာရင်းသွင်းရန်</h1>
  <body>
  
  
	<form id="form" action="/merchant/register" method="post">
    <label for="name">ကုန်သည်အမည်</label><br>
    <input type="text" name="name" value="<%= data.user_name  %>"/><br>

    <label for="name">ဖုန်းနံပါတ်</label><br>
    <input type="tel" name="phone" pattern="[0-9]{5,15}"><br>

    <label for="name">နေရပ်လိပ်စာ</label><br>
    <textarea name="address" rows="4" cols="50"></textarea><br>
    
    <input type="submit" name="Submit"/>

  </form>


  <script>
    
  const windowClose = () => {
    setTimeout(()=>{
      window.close();
    },2000);    
  }

      
  document.getElementById("form").addEventListener("submit", windowClose); 
	
 
  </script>
  </body>

</html>