<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ပြောင်းအဝယ်ဈေးကြည့်ရန်</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  
  
	<form id="form" action="/staff/todayprice" method="post">
        <label for="name">ရက်စွဲ</label><br>
        <input type="date" name="filled_date"/><br>        

        <label for="name">ပြောင်းအရည်သွေးအဆင့်</label><br>
        <select type="id" name="corn_quality">
          <option value="Q1">အဆင့်-၁</option>
          <option value="Q2">အဆင့်-၂</option>
          <option value="Q3">အဆင့်-၃</option>          
        </select><br>
    
    <input type="submit" name="submit"/>

  </form>


  <script>
    
  // const windowClose = () => {
  //   setTimeout(()=>{
  //     window.close();
  //   },2000);    
  // }
      
  // document.getElementById("form").addEventListener("submit", windowClose); 
	
  </script>
  </body>

</html>