<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Merchant Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  
  
	<form id="form" action="/test1" method="post">
        <label for="name">Today Date</label><br>
        <input type="date" name="received_date"/><br>

        <label for="name">Corn Type</label><br>
        <input type="number" name="corn_type"/><br>

        <label for="name">Today Price</label><br>
        
        <select name="price" id="price">
          <option value="7000">1</option>
          <option value="6000">2</option>
          <option value="5000">3</option>
          
        </select>

    
    <input type="submit" name="Confirm"/>

  </form>


  <script>
    
  const windowClose = () => {
    setTimeout(()=>{
      window.close();
    },2000);    
  }

      
  document.getElementById("form").addEventListener("submit", windowClose); 
	
 
  </script>
  </body>

</html>