<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff MarketPrices</title>
</head>
<body>
    <label><% data.date %></label>
    <label><% data.corn_quality %></label>
</body>
</html>