<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff MarketPrices</title>
</head>
<body>
    <% data.forEach(function(marketPrice){ %>
        <label><%= marketPrice.date %></label>
        <label><%= marketPrice.corn_type %></label>
        <label><%= marketPrice.price %></label>
        <br>
    <% }); %> 
</body>
</html>