<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ပြောင်းအဝယ်ဈေးကြည့်ရန်</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      *{
        margin: 0;
        padding: 0;
      }
      body{
      background-image: url(https://wallpaperaccess.com/full/89878.jpg) ;
      background-position: center;
      background-size: cover;
      font-family: sans-serif;
      margin-top: 40px;
    }
    .head{
      width: 550px;
      background-color:rgb(40, 154, 207) ;
      margin: auto;
      color: #FFFFFF;
      padding: 10px 0px 10px 0px;
      text-align: center;
      border-radius: 10px 10px 0px 0px;
    }
    .header{
      font-size: 25px;      
      color:white;
    }
    .main{
      background-color: rgb(114, 185, 218) ;
      width: 550px;
      height: 500px;
      margin:auto;
    }
    .form{
      padding: 10px;
    }
    #name{
      width: 100%;
      height: 100px;
    }
    .name{
      margin-left: 25px;
      margin-top: 35px;
      width: 135px;
      color: white;
      font-size: 18px;
      font-weight: 700;
    }
    .label1{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 17px;
    }
    
    .label2{
      position: relative;
      color: rgba(51, 12, 224, 0.979);
      font-size: 14px;
      left: 10px;
      top: 18px;
    }
   
   
    .date{
      position: relative;
      left: 160px;
      top: -10px;
      line-height: 30px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
    
    .cornquality{
      position: relative;
      left: 160px;
      top: -10px;        
      border-width: 10px;
      border-radius: 5px;
      padding:0 22px;
      font-size: 14px;
    }
   
    
    .submit{
      position: relative;     
      left: 320px;
      top: 27px;
      padding: 5px;
      font-size: 14px;
      font-style: italic;
      font-weight: lighter;
    }

    </style>
 </head>

  <body>
  <div class="head"><h1 class="header">ပေါက်ဈေးကြည့်ရန်</h1></div>
  <div class="main"></div>
  <form id="form" action="/staff/todayprice" method="post">
    <div class="name">
        <label class="label1" for="name">ရက်စွဲ</label><br>
        <input class="date" type="date" name="filled_date"/><br>        

        <label class="label2" for="name">ပြောင်းအရည်သွေးအဆင့်</label><br>
        <select class="cornquality" type="id" name="corn_quality">
          <option value="Q1">အဆင့်-၁</option>
          <option value="Q2">အဆင့်-၂</option>
          <option value="Q3">အဆင့်-၃</option>          
        </select><br>
    
    <input class="submit" type="submit" name="submit"/>
  </div>
  </form>
</div>

  <script>
    
  // const windowClose = () => {
  //   setTimeout(()=>{
  //     window.close();
  //   },2000);    
  // }
      
  // document.getElementById("form").addEventListener("submit", windowClose); 
	
  </script>
  </body>

</html>