<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Add Staff Purchased Price</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  
  
	<form id="form" action="/admin/staff-todayprice" method="post">
        <label for="name">Today Date</label><br>
        <input type="date" name="filled_date"/><br>        

        <label for="name">Corn Quality</label><br>
        <select type="id" name="corn_qty">
          <option value="Q1">1 star</option>
          <option value="Q2">2 star</option>
          <option value="Q3">3 star</option>          
        </select><br>
    
    <input type="submit" name="submit"/>

  </form>


  <script>
    
  const windowClose = () => {
    setTimeout(()=>{
      window.close();
    },2000);    
  }

      
  document.getElementById("form").addEventListener("submit", windowClose); 
	
 
  </script>
  </body>

</html>